* {
  border: 0;
  font-weight: inherit;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  font-family: sans-serif;
  gap: 32px;
  padding: 10px;
  max-width: 400px;
  margin: auto;
}

form {
  padding: 24px 24px;
  border: 2px dashed black;
}

/* código */

:root {
  --border: 2px solid black;
  --border-radius: 6px;
  --padding: 4px 16px;
}

/* átomos */

/* _input.scss */
.jo-input {
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 4px 16px;
  width: 100%;
}

/* _input-linned.scss */
.jo-input-linned {
  border-bottom: 2px solid black;
  width: 100%;
}

/* _button.scss */
.jo-button {
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 4px 16px;
}

/* _typography.scss */
.jo-title-3 {
  font-size: 24px;
}
